# 生成一維陣列Series(index)

In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd
import numpy as np

s = pd.Series([1,3,5, np.nan])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
dtype: float64

In [3]:
import pandas as pd
import numpy as np

s = pd.Series([1,3,5, np.nan, 7,8,9])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    7.0
5    8.0
6    9.0
dtype: float64

In [4]:
x = pd.Series([1,3,5, np.nan], index=['A', 'B', 'C', 'D'])
print(x)
print(x.values)   # [ 1.  3.  5. nan]
print(x['B'])
print(x[1])

A    1.0
B    3.0
C    5.0
D    NaN
dtype: float64
[ 1.  3.  5. nan]
3.0
3.0

# Pandas DataFrame

In [5]:
# 將Series轉成 list
import pandas as pd
import numpy as np

s = pd.Series([1,3,5, np.nan, 7,8,9])
print(s)

print(s.tolist())

0    1.0
1    3.0
2    5.0
3    NaN
4    7.0
5    8.0
6    9.0
dtype: float64
[1.0, 3.0, 5.0, nan, 7.0, 8.0, 9.0]

In [6]:
# 將Series轉成 list
import pandas as pd
import numpy as np

s = pd.Series([1,3,5, np.nan, 7,8,9])
print(s)

print(s.shape)

0    1.0
1    3.0
2    5.0
3    NaN
4    7.0
5    8.0
6    9.0
dtype: float64
(7,)

# (2)生成二維陣列DataFrame

In [7]:
import pandas as pd
import numpy as np

dates = pd.date_range(start='20130101', end='20131231', freq='D')
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10',
               ...
               '2013-12-22', '2013-12-23', '2013-12-24', '2013-12-25',
               '2013-12-26', '2013-12-27', '2013-12-28', '2013-12-29',
               '2013-12-30', '2013-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [8]:
dates = pd.date_range('20130101', periods=7)
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07'],
              dtype='datetime64[ns]', freq='D')

In [9]:
dates = pd.date_range('20130101', periods=7, freq='w')
print(dates)

DatetimeIndex(['2013-01-06', '2013-01-13', '2013-01-20', '2013-01-27',
               '2013-02-03', '2013-02-10', '2013-02-17'],
              dtype='datetime64[ns]', freq='W-SUN')

# 生成二維陣列DataFrame

In [10]:
import pandas as pd
import numpy as np

dates = pd.date_range('20130101', periods=7)

df = pd.DataFrame(np.random.randn(7,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.726387  0.099091  0.539453  0.310115
2013-01-02 -0.108282  0.210055  1.070403 -0.394125
2013-01-03  2.541490 -0.000580 -0.851344 -0.574898
2013-01-04  0.137046 -0.705980 -0.281015  0.350627
2013-01-05 -2.519649 -1.754241 -0.631436  1.669853
2013-01-06 -0.694527 -0.858202 -0.945778 -0.559481
2013-01-07 -2.049419  0.037576  2.500677  0.486291

In [11]:
import pandas as pd
import numpy as np

dates = pd.date_range('20130101', periods=7)

df = pd.DataFrame(np.random.randn(7,4), index=dates, columns=list('ABCD'))
print(df)
df['A']

                   A         B         C         D
2013-01-01  1.672049 -0.579139  1.246980 -1.172839
2013-01-02  1.522785  0.700016 -0.182397 -1.258423
2013-01-03 -1.047071  1.616968  0.879459 -0.224207
2013-01-04 -0.806583  2.213831  0.569365 -0.669398
2013-01-05  0.816562  1.097174  1.443825 -0.615638
2013-01-06  1.243233 -0.900562 -1.410227 -0.613372
2013-01-07 -1.443343 -0.682050  0.565295  0.132964

2013-01-01    1.672049
2013-01-02    1.522785
2013-01-03   -1.047071
2013-01-04   -0.806583
2013-01-05    0.816562
2013-01-06    1.243233
2013-01-07   -1.443343
Freq: D, Name: A, dtype: float64

# 生成二維陣列DataFrame - python dict結構

In [12]:
import pandas as pd
import numpy as np

df2 = pd.DataFrame({ 'A' : 1.,
    'B' : pd.Timestamp('20130102'),
    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
    'D' : np.array([3] * 4,dtype='int32'),
    'E' : pd.Categorical(["test","train","test","train"]),
    'F' : 'foo' })

print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [13]:
import pandas as pd
import numpy as np

df2 = pd.DataFrame({ 'A' : [1.0, 2.0, 3.0, 4.0],
    'B' : pd.Timestamp('20130102'),
    'C' : pd.Series(2, index=list(range(4)),dtype='float32'),
    'D' : np.array([1, 2, 3, 4],dtype='int32'),
    'E' : pd.Categorical(["test","train","test","train"]),
    'F' : 'foo' })

print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  2.0  1   test  foo
1  2.0 2013-01-02  2.0  2  train  foo
2  3.0 2013-01-02  2.0  3   test  foo
3  4.0 2013-01-02  2.0  4  train  foo

In [14]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# 生成二維陣列DataFrame - part 2 (merge)

In [15]:
# merge two dataframe using append
df1 = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))

print(df1)
print('------------')
print(df2)

   A  B
0  1  2
1  3  4
------------
   A  B
0  5  6
1  7  8

In [16]:
# merge two dataframe using append
df1 = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))

df3=df1.append(df2,ignore_index=True) # ignore_index=True ->合併index
print(df3)

   A  B
0  1  2
1  3  4
2  5  6
3  7  8

In [17]:
# merge two dataframe using append
df1 = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))

df3=df1.append(df2,ignore_index=False) # ignore_index=False ->未合併index
print(df3)

   A  B
0  1  2
1  3  4
0  5  6
1  7  8

In [18]:
# merge two dataframe using append
df1 = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
df3=df1.append(df2,ignore_index=True)
print(df3)

print(df3.shape)
print(df3.columns)

   A  B
0  1  2
1  3  4
2  5  6
3  7  8
(4, 2)
Index(['A', 'B'], dtype='object')

In [19]:
# merge two dataframe using append
df1 = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
df3=df1.append(df2,ignore_index=True)
print(df3)

print('------------')
print(df3['B'])
print('------------')
print(df3['A'])

   A  B
0  1  2
1  3  4
2  5  6
3  7  8
------------
0    2
1    4
2    6
3    8
Name: B, dtype: int64
------------
0    1
1    3
2    5
3    7
Name: A, dtype: int64

# 生成二維陣列DataFrame - part 3

In [20]:
#pandas datafreame format
x = [{'a':1, 'b':2},{'a':3,'b':4,'c':5}]

df=pd.DataFrame(x)
print(df)

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [21]:
#pandas datafreame format
x = [{'a':1, 'b':2},{'a':3,'b':4,'c':5}]

df=pd.DataFrame(x)
print(df)
print('-----------------------')

print(df['b'])
print('-----------------------')

df['t0']=100   # 新增欄位
df['t1']=0
print(df)

   a  b    c
0  1  2  NaN
1  3  4  5.0
-----------------------
0    2
1    4
Name: b, dtype: int64
-----------------------
   a  b    c   t0  t1
0  1  2  NaN  100   0
1  3  4  5.0  100   0

# 生成二維陣列DataFrame - part 4

# 動手做 -----------------------------------------------------

#### 題目: 將以下資料，以dict方式生成二維陣列
* 範例:
 * output:

| |國文|英文|總分|
|---|---|---|---|
|小美|100|60|160|
|小華|95|85|180|
|小明|74|100|174|

In [22]:
import pandas as pd
import numpy as np

df2 = pd.DataFrame({ 
    '' : ['小美', '小華', '小明'],
    '國文' : [100, 95, 74],
    '英文' : [60, 85, 100],
    '總分' : [160, 180, 174],
     })

print(df2)

        國文   英文   總分
0  小美  100   60  160
1  小華   95   85  180
2  小明   74  100  174

In [23]:
import pandas as pd
import numpy as np


x = [{'國文': 100, '英文': 60, '總分': 160},{'國文':95, '英文':85, '總分':180},{'國文':74, '英文':100, '總分':174}
      ]

df=pd.DataFrame(x)

print(df)

    國文   英文   總分
0  100   60  160
1   95   85  180
2   74  100  174

# -------------------------------------------------end

# 動手做 -----------------------------------------------------

#### 題目: 將生成的二維陣列，經過設計，僅顯示國文的成績
* 範例:
 * output: 
    * 小美    100
    * 小華     95
    * 小明     74

In [24]:
import pandas as pd
import numpy as np

df2 = pd.DataFrame({ 
    '' : ['小美', '小華', '小明'],
    '國文' : [100, 95, 74],
    '英文' : [60, 85, 100],
    '總分' : [160, 180, 174],
     })

print(df2)

print('-----------------------')
print(df2['國文'])

        國文   英文   總分
0  小美  100   60  160
1  小華   95   85  180
2  小明   74  100  174
-----------------------
0    100
1     95
2     74
Name: 國文, dtype: int64

# -------------------------------------------------end

# (3) 二維數據查看

In [25]:
dates = pd.date_range('20130101', periods=7)

df = pd.DataFrame(np.random.randn(7,4), index=dates, columns=list('ABCD'))

df.head()  # 預設顯示前5行

                   A         B         C         D
2013-01-01  0.236809 -0.824460  0.104699 -0.716196
2013-01-02 -0.103427 -0.847026 -0.350992 -0.788544
2013-01-03  1.521991  0.721926  0.588249 -1.901354
2013-01-04 -1.011292  1.235542  0.999500  0.919191
2013-01-05 -1.241338  0.063005 -1.182833 -0.141081

In [26]:
df.head(3)

                   A         B         C         D
2013-01-01  0.236809 -0.824460  0.104699 -0.716196
2013-01-02 -0.103427 -0.847026 -0.350992 -0.788544
2013-01-03  1.521991  0.721926  0.588249 -1.901354

In [27]:
df.tail(3)  # 查看最後3行

                   A         B         C         D
2013-01-05 -1.241338  0.063005 -1.182833 -0.141081
2013-01-06  0.204155  0.149636 -0.403410  0.075207
2013-01-07 -0.033954  0.356057  0.151908 -0.222295

# (4) 查看二維資料的索引、列名和資料

In [28]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [30]:
df.values

array([[ 0.23680926, -0.82446043,  0.10469882, -0.71619586],
       [-0.10342696, -0.8470262 , -0.35099192, -0.78854383],
       [ 1.52199077,  0.72192632,  0.58824872, -1.90135353],
       [-1.01129156,  1.23554154,  0.99949965,  0.91919113],
       [-1.24133843,  0.06300499, -1.18283267, -0.14108071],
       [ 0.20415537,  0.14963621, -0.40340965,  0.07520748],
       [-0.03395439,  0.35605738,  0.15190761, -0.22229509]])

# (5) 查看資料的統計資訊

In [31]:
df.describe()

              A         B         C         D
count  7.000000  7.000000  7.000000  7.000000
mean  -0.061008  0.122097 -0.013268 -0.396439
std    0.909546  0.763076  0.714478  0.872699
min   -1.241338 -0.847026 -1.182833 -1.901354
25%   -0.557359 -0.380728 -0.377201 -0.752370
50%   -0.033954  0.149636  0.104699 -0.222295
75%    0.220482  0.538992  0.370078 -0.032937
max    1.521991  1.235542  0.999500  0.919191

# (5) 查看資料的統計資訊 - other 2

In [32]:
AA = df.A * df.D
e = pd.Series(AA)   #建構欄位，轉成Series資料

df['E'] = e
print(df)

                   A         B         C         D         E
2013-01-01  0.236809 -0.824460  0.104699 -0.716196 -0.169602
2013-01-02 -0.103427 -0.847026 -0.350992 -0.788544  0.081557
2013-01-03  1.521991  0.721926  0.588249 -1.901354 -2.893843
2013-01-04 -1.011292  1.235542  0.999500  0.919191 -0.929570
2013-01-05 -1.241338  0.063005 -1.182833 -0.141081  0.175129
2013-01-06  0.204155  0.149636 -0.403410  0.075207  0.015354
2013-01-07 -0.033954  0.356057  0.151908 -0.222295  0.007548

In [33]:
AA = df.A * df.D
print(AA)
print('-----------------------')

e = pd.Series(AA)   #建構欄位
print(e)
print('-----------------------')

df['E'] = e
print(df)

2013-01-01   -0.169602
2013-01-02    0.081557
2013-01-03   -2.893843
2013-01-04   -0.929570
2013-01-05    0.175129
2013-01-06    0.015354
2013-01-07    0.007548
Freq: D, dtype: float64
-----------------------
2013-01-01   -0.169602
2013-01-02    0.081557
2013-01-03   -2.893843
2013-01-04   -0.929570
2013-01-05    0.175129
2013-01-06    0.015354
2013-01-07    0.007548
Freq: D, dtype: float64
-----------------------
                   A         B         C         D         E
2013-01-01  0.236809 -0.824460  0.104699 -0.716196 -0.169602
2013-01-02 -0.103427 -0.847026 -0.350992 -0.788544  0.081557
2013-01-03  1.521991  0.721926  0.588249 -1.901354 -2.893843
2013-01-04 -1.011292  1.235542  0.999500  0.919191 -0.929570
2013-01-05 -1.241338  0.063005 -1.182833 -0.141081  0.175129
2013-01-06  0.204155  0.149636 -0.403410  0.075207  0.015354
2013-01-07 -0.033954  0.356057  0.151908 -0.222295  0.007548

In [34]:
df['E'] = df.A * df.D
print(df)

                   A         B         C         D         E
2013-01-01  0.236809 -0.824460  0.104699 -0.716196 -0.169602
2013-01-02 -0.103427 -0.847026 -0.350992 -0.788544  0.081557
2013-01-03  1.521991  0.721926  0.588249 -1.901354 -2.893843
2013-01-04 -1.011292  1.235542  0.999500  0.919191 -0.929570
2013-01-05 -1.241338  0.063005 -1.182833 -0.141081  0.175129
2013-01-06  0.204155  0.149636 -0.403410  0.075207  0.015354
2013-01-07 -0.033954  0.356057  0.151908 -0.222295  0.007548

# (6) 二維數據轉置

In [35]:
df.T  # 將攔、列互換

,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05,2013-01-06,2013-01-07
A,0.236809,-0.103427,1.521991,-1.011292,-1.241338,0.204155,-0.033954
B,-0.824460,-0.847026,0.721926,1.235542,0.063005,0.149636,0.356057
C,0.104699,-0.350992,0.588249,0.999500,-1.182833,-0.403410,0.151908
D,-0.716196,-0.788544,-1.901354,0.919191,-0.141081,0.075207,-0.222295
E,-0.169602,0.081557,-2.893843,-0.929570,0.175129,0.015354,0.007548

# (7) 排序

In [36]:
df.sort_index(axis=1, ascending=False)    # 資料呈現的順序

                   E         D         C         B         A
2013-01-01 -0.169602 -0.716196  0.104699 -0.824460  0.236809
2013-01-02  0.081557 -0.788544 -0.350992 -0.847026 -0.103427
2013-01-03 -2.893843 -1.901354  0.588249  0.721926  1.521991
2013-01-04 -0.929570  0.919191  0.999500  1.235542 -1.011292
2013-01-05  0.175129 -0.141081 -1.182833  0.063005 -1.241338
2013-01-06  0.015354  0.075207 -0.403410  0.149636  0.204155
2013-01-07  0.007548 -0.222295  0.151908  0.356057 -0.033954

In [37]:
df.sort_index(axis=0, ascending=False)    # 資料呈現的順序

                   A         B         C         D         E
2013-01-07 -0.033954  0.356057  0.151908 -0.222295  0.007548
2013-01-06  0.204155  0.149636 -0.403410  0.075207  0.015354
2013-01-05 -1.241338  0.063005 -1.182833 -0.141081  0.175129
2013-01-04 -1.011292  1.235542  0.999500  0.919191 -0.929570
2013-01-03  1.521991  0.721926  0.588249 -1.901354 -2.893843
2013-01-02 -0.103427 -0.847026 -0.350992 -0.788544  0.081557
2013-01-01  0.236809 -0.824460  0.104699 -0.716196 -0.169602

In [38]:
df.sort_values(by='B')    # 依據哪個欄位排序

                   A         B         C         D         E
2013-01-02 -0.103427 -0.847026 -0.350992 -0.788544  0.081557
2013-01-01  0.236809 -0.824460  0.104699 -0.716196 -0.169602
2013-01-05 -1.241338  0.063005 -1.182833 -0.141081  0.175129
2013-01-06  0.204155  0.149636 -0.403410  0.075207  0.015354
2013-01-07 -0.033954  0.356057  0.151908 -0.222295  0.007548
2013-01-03  1.521991  0.721926  0.588249 -1.901354 -2.893843
2013-01-04 -1.011292  1.235542  0.999500  0.919191 -0.929570

# 動手做 ------------------------------------------------------

#### 題目:  將業績表以Name順序進行排序
* 範例:
    * input: 以pd.read_csv導入資料
    * output:

In [39]:
import pandas as pd

sales=pd.read_csv('sales_revenue.csv', index_col = 0) 

print(sales)

print(sales.sort_values(by ='Name')  )

        Name      May     June     July
ID
10901  David  6000000  8000000  6000000
10902  Tommy  2400000  3600000  5100000
10903   Jack  4200000  6600000  8000000
10904  Jimmy  5600000  4000000  6000000
        Name      May     June     July
ID
10901  David  6000000  8000000  6000000
10903   Jack  4200000  6600000  8000000
10904  Jimmy  5600000  4000000  6000000
10902  Tommy  2400000  3600000  5100000

# ---------------------------------------------------------end

# 動手做 --------------------------------------------

#### 題目: 請依據下列商品名稱和存貨量資料，建立DataFrame架構資料

* 範例:
 * data:
     * product: ['iphone', 'Samsung', 'Sony', 'Huawei', 'HTC', 'Oppo']
     * inventory: [1000, 1200, 1300, 800, 700, 850]

In [40]:
import pandas as pd

data=pd.read_csv('data2-2.csv', index_col = 0) 

print(data)

         inventory
product
Iphone        1000
Samaung       1200
Sony          1300
Huawei         800
HTC            700
Oppo           850

In [41]:
import pandas as pd
import numpy as np

pd.DataFrame({ 'product' : ['iphone', 'Samsung', 'Sony', 'Huawei', 'HTC', 'Oppo'],
    'inventory' :  [1000, 1200, 1300, 800, 700, 850], }).T

                0        1     2       3    4     5
product    iphone  Samsung  Sony  Huawei  HTC  Oppo
inventory    1000     1200  1300     800  700   850

In [42]:
import pandas as pd
import numpy as np



x = [{'iphone': 1000, 'Samsung':1200, 'Sony':1300, 'Huawei':800, 'HTC':700, 'Oppo':850}]


df=pd.DataFrame(x, index=['product', 'inventory'])

print(df)

           iphone  Samsung  Sony  Huawei  HTC  Oppo
product      1000     1200  1300     800  700   850
inventory    1000     1200  1300     800  700   850

In [43]:
import pandas as pd
import numpy as np


x = [{'product':'inventory','iphone': 1000, 'Samsung':1200, 'Sony':1300, 'Huawei':800, 'HTC':700, 'Oppo':850}]


df=pd.DataFrame(x)

print(df)

     product  iphone  Samsung  Sony  Huawei  HTC  Oppo
0  inventory    1000     1200  1300     800  700   850

# -------------------------------------------------end

# (8) 資料選擇 - 資料切片使用loc (取特定欄位資料)
    可以取特定欄,而列用index name去locate

In [ ]:
df

In [ ]:
df['A']

In [ ]:
df.A

In [ ]:
df[['A','B']]    # 兩個[[]]

In [ ]:
cols = ['A','B']
df[cols]

In [ ]:
#取前3列, 針對所有欄
df[0:3]

In [ ]:
df[0:2]

In [ ]:
#取出20130102':'20130104', 針對所有欄
df['20130102':'20130104']

In [ ]:
print(dates)
print(dates[0])

In [ ]:
print(dates[0])
df.loc[dates[0]]     # 取locate dates[0], 2013-01-01的資料

In [ ]:
print(dates[0])
df.loc[dates[0], ['A', 'E']]    # 取locate dates[0], 2013-01-01的資料

In [ ]:
#利用 loc 可以撰擇部份欄
df2=df.loc[:,['A','B']]

In [ ]:
df2

In [ ]:
df

In [ ]:
df.loc['20130102':'20130104',['A','B']]
#df.loc[0:4,['A','B']]  # Error! can only use index name

In [ ]:
df.loc['20130102',['A','B']]

In [ ]:
df.loc[dates[0],'A']

# 動手做 ------------------------------------------------------

#### 題目: 請依據前面建立DataFrame架構的資料，完成以下要求:
* 將iphone的存貨加50
* 輸出存量最多的商品
* 將資料根據存貨量從大到小排列
* 輸出存貨量少於1000的商品

* 範例:
 * data:
     * product: ['iphone', 'Samsung', 'Sony', 'Huawei', 'HTC', 'Oppo']
     * inventory: [1000, 1200, 1300, 800, 700, 850]

In [44]:
import pandas as pd
import numpy as np

x=pd.DataFrame({ 
    'product' : ['iphone', 'Samsung', 'Sony', 'Huawei', 'HTC', 'Oppo'],
    'inventory' :  [1000, 1200, 1300, 800, 700, 850]
     })

x.loc[0, 'inventory'] +=50

print(x.T)
print('-----------------------')

print(x[x['inventory']==x['inventory'].max()])
print('-----------------------')

print(x.sort_values(by ='inventory',  ascending = False).T)
print('-----------------------')

print(x[x.loc[:,'inventory'] <1000].T)
print('-----------------------')

                0        1     2       3    4     5
product    iphone  Samsung  Sony  Huawei  HTC  Oppo
inventory    1050     1200  1300     800  700   850
-----------------------
  product  inventory
2    Sony       1300
-----------------------
              2        1       0     5       3    4
product    Sony  Samsung  iphone  Oppo  Huawei  HTC
inventory  1300     1200    1050   850     800  700
-----------------------
                3    4     5
product    Huawei  HTC  Oppo
inventory     800  700   850
-----------------------

In [45]:
import pandas as pd
import numpy as np

x=pd.DataFrame({ 
    'product' : ['iphone', 'Samsung', 'Sony', 'Huawei', 'HTC', 'Oppo'],
    'inventory' :  [1000, 1200, 1300, 800, 700, 850]
     })

x.loc[0, 'inventory'] +=50

print(x.T)
print('-----------------------')

print(x[x['inventory']==x['inventory'].max()])
print('-----------------------')

print(x.sort_values(by ='inventory',  ascending = False).T)
print('-----------------------')

print(x[x['inventory'] <1000].T)
print('-----------------------')

                0        1     2       3    4     5
product    iphone  Samsung  Sony  Huawei  HTC  Oppo
inventory    1050     1200  1300     800  700   850
-----------------------
  product  inventory
2    Sony       1300
-----------------------
              2        1       0     5       3    4
product    Sony  Samsung  iphone  Oppo  Huawei  HTC
inventory  1300     1200    1050   850     800  700
-----------------------
                3    4     5
product    Huawei  HTC  Oppo
inventory     800  700   850
-----------------------

# -----------------------------------------------------end

# (9) 資料修改與設置

In [ ]:
df.at[dates[0], 'A']   #查詢指定行、列位置資料的值

In [ ]:
df.at[0:2] = 3   #修改指定行、列位置資料的值
df

In [ ]:
df.loc[:, 'D'] = [i for i in range(7)] #修改所有列的值
df

In [ ]:
df.loc[:, 'D'] = [np.random.randint(90,100) for i in range(7)] #修改所有列的值
df

In [ ]:
df['D'] = -df['D']    #修改所有D列的值
df

# (9) 資料修改與設置 - part 2

# 資料切片使用iloc
    使用index(row number)去選取特定列
    df.iloc[i] returns the ith row of df. i does not refer to the index label, i is a 0-based index.
    In contrast, the attribute index returns actual index labels, not numeric row-indices:

In [ ]:
df.loc[:,['A','B']]

In [ ]:
print(df.iloc[0])
print(df.iloc[0:3])
print(df.iloc[0:3,1:3])

# 按給定條件進行查詢

In [ ]:
df

In [ ]:
df[df.A>0]

In [ ]:
k = df[df.A>0]    # 取出大於0的資料
print(k.index)    # 查詢大於0資料的位置

In [ ]:
x=df.A>0
y=df.B<0
df[( x&y )]

In [ ]:
df[df.index=='2013-01-02']

In [ ]:
#df[df['datetime'].between("2013-01-02","2013-01-05")]

# (9) 資料修改與設置 - part 3

# index to one cell

In [ ]:
df.at[dates[2],'C']    # 查詢指定行、列的值

In [ ]:
df.at[dates[2],'D']    # 查詢指定行、列的值

In [ ]:
df.iloc[2,2]

In [ ]:
df.iloc[2,2]=100
df

# (10) 缺失值處理

In [ ]:
mask = df['A'].isnull()    #  查詢空的欄位
print(mask)

In [ ]:
mask = pd.isnull(df)    #  查詢空的欄位
print(mask)

# 刪除欄列

In [ ]:
df

In [ ]:
#刪除A,B兩欄
df.drop(['A', 'B'], axis=1)

In [ ]:
#刪除列by row number
#df.drop(df.index[2]) # drop a row
df.drop(df.index[:4]) # drop a range

In [ ]:
df.drop(df.index[-2])

In [ ]:
df.drop(df.index[:-3])

In [ ]:
df.index

In [ ]:
df

In [ ]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

In [ ]:
df.drop(['Cochice', 'Pima'])

## 缺失值處理

In [ ]:
df

In [ ]:
df.iloc[1,3]=np.NaN     # 將資料進行修正，填入空值
df.iloc[0,2]=np.NaN     # 將資料進行修正，填入空值
mask = df["C"].isnull()
print(mask)

In [ ]:
df

In [ ]:
pd.isnull(df)

In [ ]:
#刪除有缺值的列
df.dropna()

In [ ]:
df['C'].fillna(5, inplace=True) #使用指定值填充缺失值
df

# (11) 資料操作

## 資料統計分析

In [ ]:
df

In [ ]:
df.mean(axis=0)     #平均值，自動忽略缺失值  #skipna : boolean, default True
                    #axis=0，欄位平均值

In [ ]:
df.mean(0)     #平均值，自動忽略缺失值  #skipna : boolean, default True
                    #axis=0，欄位平均值

In [ ]:
df.mean(axis=1)      #axis=1，列平均值

In [ ]:
df.iloc[1,3]=5.0                 #修改df[1,3]值為5，讓5出現兩次
df['D'].value_counts()           #統計資料重複個數，作為長條圖統計用

In [ ]:
df

In [ ]:
df.shift(periods=2,axis=0)      # 向下shift   ，periods=2 次數

In [ ]:
df.shift(periods=1,axis=1)     # axis=1 水平shiftt，periods=-1 次數，向右shif

In [ ]:
df.shift(periods=-1,axis=1)     # axis=1 水平shift，periods=-1 次數 ，向左shift

# 資料分析模組

In [ ]:
df4 = pd.DataFrame({'A':[i for i in range(8)], 
                    'B':[np.random.randint(10,15) for i in range(8)],
                    'C':[np.random.randint(20,30) for i in range(8)], 
                    'D':[np.random.randint(80,100) for i in range(8)]}
                  )
df4

In [ ]:
df4

In [ ]:
p1 = df4[:3]
p2 = df4[3:7]
p3 = df4[7:]

df40 = pd.concat([p1, p2, p3])
df40

In [ ]:
df4 == df40

## 其他: 合併dataframe: pandas.concat

In [ ]:
df3=df4[5:]  
df2=pd.concat([df3,df4])   # index沒有改變
df2

In [ ]:
df3=df4[5:]  
df2=pd.concat([df3,df4], ignore_index=True)    # index重新調整為依序
df2

In [ ]:
df4 = pd.DataFrame({'A':[np.random.randint(1,5) for i in range(8)], 
                    'B':[np.random.randint(10,15) for i in range(8)],
                    'C':[np.random.randint(20,30) for i in range(8)], 
                    'D':[np.random.randint(80,100) for i in range(8)]}
                  )
df4

In [ ]:
df4.sort_values(by='A')   # 資料呈現的順序

In [ ]:
df4.groupby('A').sum()      # 將A欄位相同的加總

In [ ]:
df4.groupby('A').mean()     # 將A欄位相同的加總後計算平均值

# 動手做 -------------------------------------------------

#### 題目: 請用Pandas套件讀取product_stock.csv ，並轉換成DataFrame的型態，再完成以下要求:
* 顯示前兩筆紀錄
* 輸出"vinegar"白醋的進貨紀錄
* 統計同商品的總數量並輸出
* 依據進貨日期從小到大排序並輸出結果

In [ ]:
import pandas as pd

df=pd.read_csv('product_stock.csv', index_col=0)

print(df)

print(df[:2])

print(df[df.index=='vinegar'])

print(df.groupby('Product').sum())

print(df.sort_values(by='Purchase date'))

# ------------------------------------------------------end