# Pandas to processing dataset

row: index 0,1,2,3... 每一筆資料 <br>
column: 欄位名稱

In [2]:
import pandas as pd
import numpy as np

## pandas read CSV file

In [6]:
#index_col=int, to specify int column as the index (row names)
#index_col=False, to force pandas to _not_ use the first column as the index (row names)

pd.read_csv('Homework\HW1\hw1_data.csv', index_col = 0) #use first column as the index (row names)

,male population,male smoke percentage,female population,female smoke percentage
class,,,,
Education level,NaN,NaN,NaN,NaN
elementary school and below,1596.0,25.3,2781.0,1.7
junior high,1264.0,49.6,1498.0,10.6
senior high,3136.0,28.7,3734.0,6.5
university,2881.0,11.7,3249.0,1.0
graduate school and above,964.0,4.6,659.0,0.0
Average monthly income,NaN,NaN,NaN,NaN
20000 and below,3737.0,20.2,6382.0,2.5
20001-40000,3431.0,33.9,4278.0,6.8
40001 and above,3615.0,35.6,2227.0,5.5
Working environment,NaN,NaN,NaN,NaN
indoor,3739.0,32.4,4732.0,3.6
outdoor,1773.0,40.9,635.0,9.0
unemployed,1595.0,29.5,4114.0,4.7

In [8]:
#list header name & index name
df=pd.read_csv('Homework\HW1\hw1_data.csv', index_col = 0)
#list header name & index name

print(df.shape)
print(df.columns)
print(df.index)
print(len(df.index))

(14, 4)
Index(['male population', 'male smoke percentage', 'female population',
       'female smoke percentage'],
      dtype='object')
Index(['Education level', 'elementary school and below', 'junior high',
       'senior high', 'university', 'graduate school and above',
       'Average monthly income', '20000 and below', '20001-40000',
       '40001 and above', 'Working environment', 'indoor', 'outdoor',
       'unemployed'],
      dtype='object', name='class')
14

In [9]:
#only read some columns and number of row
cols=["class","male population", "female population"]

#index_col: csv 第幾列為欄位名稱, nrows: 讀幾列
pd.read_csv('Homework\HW1\hw1_data.csv', index_col = 0,usecols=cols,nrows=4)  # 挑特定cols欄位的前4列

                             male population  female population
class
Education level                          NaN                NaN
elementary school and below           1596.0             2781.0
junior high                           1264.0             1498.0
senior high                           3136.0             3734.0

In [14]:
#only read some columns and number of row
cols=["class","male population", "female population"]

#index_col: csv 第幾列為欄位名稱, nrows: 讀幾列
pd.read_csv('Homework\HW1\hw1_data.csv', index_col = 0,usecols=cols, nrows=6)

                             male population  female population
class
Education level                          NaN                NaN
elementary school and below           1596.0             2781.0
junior high                           1264.0             1498.0
senior high                           3136.0             3734.0
university                            2881.0             3249.0
graduate school and above              964.0              659.0

In [ ]:
df

In [17]:
pd1 = pd.read_csv('Homework\HW1\hw1_data.csv', index_col = 0) 

p2 = pd1[6:10]
p2

,male population,male smoke percentage,female population,female smoke percentage
class,,,,
Average monthly income,NaN,NaN,NaN,NaN
20000 and below,3737.0,20.2,6382.0,2.5
20001-40000,3431.0,33.9,4278.0,6.8
40001 and above,3615.0,35.6,2227.0,5.5

In [19]:
print(df.columns)
#欄位有那些是列出的?
df.columns.isin(cols)

Index(['male population', 'male smoke percentage', 'female population',
       'female smoke percentage'],
      dtype='object')

array([ True, False,  True, False])

In [20]:
df['male population']  # display specific column

class
Education level                   NaN
elementary school and below    1596.0
junior high                    1264.0
senior high                    3136.0
university                     2881.0
graduate school and above       964.0
Average monthly income            NaN
20000 and below                3737.0
20001-40000                    3431.0
40001 and above                3615.0
Working environment               NaN
indoor                         3739.0
outdoor                        1773.0
unemployed                     1595.0
Name: male population, dtype: float64

In [21]:
df['male population'] >=2000     # display a specific column, and its value is larger than or equal toi 2000

class
Education level                False
elementary school and below    False
junior high                    False
senior high                     True
university                      True
graduate school and above      False
Average monthly income         False
20000 and below                 True
20001-40000                     True
40001 and above                 True
Working environment            False
indoor                          True
outdoor                        False
unemployed                     False
Name: male population, dtype: bool

In [22]:
#Subsetting Data Using Criteria
'''
Equals: ==
Not equals: !=
Greater than, less than: > or <
Greater than or equal to >=
Less than or equal to <=
'''
df[df['male population'] >=2000]     # 挑出>=2000 列的內容
    # display specific column

,male population,male smoke percentage,female population,female smoke percentage
class,,,,
senior high,3136.0,28.7,3734.0,6.5
university,2881.0,11.7,3249.0,1.0
20000 and below,3737.0,20.2,6382.0,2.5
20001-40000,3431.0,33.9,4278.0,6.8
40001 and above,3615.0,35.6,2227.0,5.5
indoor,3739.0,32.4,4732.0,3.6

In [24]:
#Subsetting Data Using Criteria
df[(df['male population'] >=2000) & (df['male smoke percentage'] <= 25.0)]

,male population,male smoke percentage,female population,female smoke percentage
class,,,,
university,2881.0,11.7,3249.0,1.0
20000 and below,3737.0,20.2,6382.0,2.5

# 內容需要再挑

In [25]:
#loc: indexing via labels or integers
#iloc: indexing via integers

df.iloc[0:3, 1:4]
df.iloc[2,1]  #49.6
df.loc[['Education level','senior high']]
df.iloc[0:2]
df.iloc[-1:, 0] # last row of column 0

class
unemployed    1595.0
Name: male population, dtype: float64

In [26]:
#Slicing Subsets of Rows 
df=pd.read_csv('Homework\HW1\hw1_data.csv', index_col = 0)
df['female population']['junior high']    #1498.0
df['male population']['university']    #2881.0
df[:3]  # access the first thress rows
df[1:3]   # row 1 and row 2
df[-3:]   # last 3 rows

df.head()  # first 5 rows

# copy the surveys dataframe so we don't modify the original DataFrame
df_copy = df
# set the first three rows of data in the DataFrame to 0
df_copy[0:10] = 0
print(df_copy)

                             male population  male smoke percentage  \
class
Education level                          0.0                    0.0
elementary school and below              0.0                    0.0
junior high                              0.0                    0.0
senior high                              0.0                    0.0
university                               0.0                    0.0
graduate school and above                0.0                    0.0
Average monthly income                   0.0                    0.0
20000 and below                          0.0                    0.0
20001-40000                              0.0                    0.0
40001 and above                          0.0                    0.0
Working environment                      NaN                    NaN
indoor                                3739.0                   32.4
outdoor                               1773.0                   40.9
unemployed                            1595.0                   29.5

                             female population  female smoke percentage
class
Education level                            0.0                      0.0
elementary school and below                0.0                      0.0
junior high                                0.0                      0.0
senior high                                0.0                      0.0
university                                 0.0                      0.0
graduate school and above                  0.0                      0.0
Average monthly income                     0.0                      0.0
20000 and below                            0.0                      0.0
20001-40000                                0.0                      0.0
40001 and above                            0.0                      0.0
Working environment                        NaN                      NaN
indoor                                  4732.0                      3.6
outdoor                                  635.0                      9.0
unemployed                              4114.0                      4.7

In [ ]:
### A mask can be useful to locate where a particular subset of values exist or 
#don't exist - for example, NaN, or "Not a Number" values.
print(df)
df[:3].isnull()

In [ ]:
##To select just the rows with NaN values, we can use the .any method
df[pd.isnull(df).any(axis=1)]

In [ ]:
#We can run isnull on a particular column
a=df[pd.isnull(df).any(axis=1)][['male population','female population']]
print(a)

In [ ]:
#Referencing Objects vs Copying Objects in Python

#這樣只是Reference ,不是copy新的一份

copy_df=df
copy_df.isnull()
copy_df[copy_df.isnull()]=0
print(copy_df['male population'])
print(df['male population'])

In [ ]:
# copy dataframe, using df.copy()

copy_df=df['male population'].copy()
copy_df.isnull()
copy_df[copy_df.isnull()]=0
print(copy_df)
print(df['male population'])

In [ ]:
x=df[df['male population'] >=2000]
x=x.as_matrix()
print(x)

# 內容已確認

## write CSV file

In [30]:
# concatenate multiple dataframe 
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']})

frames = [df1, df2, df3]

result = pd.concat(frames, ignore_index=True)
print(result) 

#save to csv file
df1.to_csv('data-001.csv', encoding='utf-8', index=False)
df2.to_csv('data-002.csv', encoding='utf-8', index=False)
df3.to_csv('data-003.csv', encoding='utf-8', index=False)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

## combine CSV file

In [32]:
#read data from multiple .csv file and concatenate all datafram using append
import os, sys,glob
from pathlib import Path

total_files=3
path = "./" 
df=pd.DataFrame()  #empty dataframe

#print(df.shape)

for i in range(total_files):
    buf = "data-%03d.csv"%(i+1)      # csv檔名固定3位
    buf=os.path.join(path, buf)
    print(buf)
    print('---------------------')
    df2=pd.read_csv(buf)
    df=df.append(df2,ignore_index=True)

    
print(df)

./data-001.csv
---------------------
./data-002.csv
---------------------
./data-003.csv
---------------------
      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

## pandas.concat

In [33]:
#read data from multiple .csv file and concatenate all datafram using concat
import os, sys,glob
from pathlib import Path
total_files=3
path = "./" 
df=pd.DataFrame()  #empty dataframe
df_list=[]
print(df.shape)
for i in range(total_files):
    buf = "data-%03d.csv"%(i+1)
    buf=os.path.join(path,buf)
    df_list.append(pd.read_csv(buf))

#print(df_list[2])
result = pd.concat(df_list, ignore_index=True)
print(result)

(0, 0)
      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

# 以下待挑選

## pandas.map

In [ ]:
df = pd.DataFrame([[i] for i in range(10)], columns=['num'])
print(df)
def powers(x):
    return x, x**2, x**3, x**4, x**5, x**6

df['p1'], df['p2'], df['p3'], df['p4'], df['p5'], df['p6'] = \
    zip(*df['num'].map(powers))

print(df)

## pandas.Series

In [ ]:
#Series : One-dimensional ndarray with axis labels

df=pd.Series([1,2,3,4], index = ['a','b','c','d'])
print(df)


array=np.array(df, dtype=pd.Series)
print(array[1])

In [ ]:
#pandas
#2-dimensional labeled data structure with columns of potentially different types
import pandas as pd
d={}
d['A'] = pd.Series([1,2,3,4], index = ['a','b','c','d'])
d['B'] = pd.Series([5,6,7,8], index = ['c','a','b','x'])
d['C'] = pd.Series([2,1,2,4], index = ['c','a','b','d'])  #  Series內的 index 不能重複
df = pd.DataFrame(d)
print(df)

In [ ]:
#pandas
#2-dimensional labeled data structure with columns of potentially different types

d={}
d['A'] = pd.Series([1,2,3,4], index = ['a','b','c','d'])
d['B'] = pd.Series([5,6,7,8], index = ['c','a','b','x'])
d['C'] = pd.Series([2,1,2,4], index = ['c','a','b','d'])  # index 不能重複
df = pd.DataFrame(d,index=['d','c'],columns=['A','C'])  #只顯示index為'c'的, Column 只顯示 'A', "C" 兩欄
print(df)

## MISC

In [ ]:
values = ['1', '2', '3']

with open("file.txt", "w") as output:
    for s in values:
        output.write("%s,"%s)
        
output.close()

In [ ]:
#pandas groupby
import numpy as np
f = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                  'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                  'C' : np.random.randn(8),
                  'D' : np.random.randn(8)})
print(f)
grouped = f.groupby(['A'])
#group information
print(grouped)
print(grouped.groups)
size = f.groupby('A').size()
print(size)
a=f.groupby(['A']).size().reset_index(name='count')
print(a)
print(a.iloc[1])

In [ ]:
from datetime import datetime,date

def process_time(stime):
    #'2017-11-24 7:59:25.334'
    time_slot=-1
    date1,time1= stime.split(' ')
    date1=[int(i) for i in date1.split('-')]   #[2017, 6, 8] Y/M/D
    time1=[float(i) for i in time1.split(':')]  #[15.0, 18.0, 25.334] H/M/S
    t=datetime(date1[0], date1[1],date1[2],int(time1[0]),int(time1[1])).time()

    t0=t.replace(hour=1,minute=0)
    t1=t.replace(hour=9,minute=0)
    t2=t.replace(hour=17,minute=0)
    t3=t.replace(hour=21,minute=0)
    #print(t)
    #print(t0)  #01:00:00

    if (t>=t0 and t<t1): #AM1:00~AM9:00
        time_slot=0
    elif (t>=t1 and t<t2):  #AM9:00~PM17:00
        time_slot=1
    elif (t>=t2 and t<t3): #PM17:00~PM9:00 
        time_slot=2
    else:  # >PM 9:00
        time_slot=3
    # weekday
    weekday=date(date1[0], date1[1],date1[2]).weekday()   #Modnday:0, Tuesday:1 ,...Sunday:6
    
    return weekday,time_slot 

def read_csv(files):
    #column filter
    
    '''
    all column list:
    user_id,device_id,session_id,title_id,event_time,played_duration,
    action_trigger,platform,episode_number,series_total_episodes_count,internet_connection_type,is_trailer
    '''
    #olny use partial column
    cols=['user_id','event_time','played_duration']
    df=pd.read_csv(files,usecols=cols)
    return df

def preprocess_Xdata():
    print("concatenate all files")
    path = "public/" 
    allFiles=[]
    total_files=2
    for i in range(total_files):
        buf = "data-%03d.csv"%(i+1)
        buf=os.path.join(path,buf)
        combine_file(buf)
        allFiles.append(buf)
        
    print(allFiles)

def preprocess_file(file):    
    df=read_csv(file)

    max_user_id=df.iloc[-1:, 0] # last row of column 0
    max_id=np.array(max_user_id, dtype=pd.Series)[0] # series to ndarray
    print(max_id)

    user_timeslot_list=[]
    #output file 'data.csv'
    f = open('data.csv', 'w')
    for i in range(max_id+1):
        user_df=df[df['user_id']==i]
        #print(user_df)
        n_events=user_df.shape[0] #number of row
        total_duration=0
        time_slot=[0]*28
        for row in user_df.itertuples(index=True):
            weekday,slot=process_time(getattr(row, "event_time"))
            #time_slot[weekday*4+slot]+=1 #event count in each timeslot
            t=getattr(row, "played_duration")
            time_slot[weekday*4+slot]+=t #event count in each timeslot
            total_duration+=t

        print(i,n_events,total_duration,time_slot)
        #write file for each row
        print('write file....')
        f.write('%d,%d,%d,' %(i,n_events,total_duration))
        for s in time_slot:
            f.write('%s,' %(str(s)))
        f.write('\n')
    return  




f.close()

preprocess_Xdata()